	/****************************************************** [4] MAIN.CSS */
		h1, h2, h3, h4 { width:1px; height:1px; position:absolute; left:-9999px; font-size:0; line-height:0; overflow:hidden; }

	/****************************************************** Header */
	/****************************************************** Header_top */
		.header_topbg { width:100%; height:61px; position:absolute; top:0; left:0; background:url('../img/top_header_bg_one.png') no-repeat; }
		.headerT_one { width:167px; height:20px; float:left; padding-top:10px; margin-right:60px; }
		.headerT_two { width:262px; height:13px; float:left; padding-top:10px; margin-right:50px; font-size:12px; color:#BCD5F3; }
		.headerT_three { width:160px; height:29px; float:left; padding-top:5px; margin-right:30px; }
			.headerT_three li { width:29px; height:29px; float:left; margin-right:5px; }
		.headerT_four { width:68px; height:13px; float:left; padding-top:10px; margin-right:25px; font-size:12px; color:#BCD5F3; }
		.headerT_five { width:143px; height:30px; float:right; padding-top:5px; }
	/****************************************************** Header_bottom */
		.header_bottombg { width:100%; height:116px; padding-top:61px; background:url('../img/top_header_bg_two.png') no-repeat 0 41px; }
		.headerB_one { width:116px; height:116px; float:left; }
		.headerB_two { width:650px; height:35px; float:left; margin:23px 55px; }
			.headerB_two li { height:27px; float:left; margin-right:20px; }
			.headerB_two li a:link , .headerB_two li a:visited { width:100%; height:100%; display:block;
					color:#fff; font-size:13px; font-weight:bold; line-height:27px; text-align:center; border-radius:5px; }
			.headerB_two li a:hover , .headerB_two li a:focus { background-color:#007E81; }
			.headerB_two .headerB2_one { width:83px; }
			.headerB_two .headerB2_two { width:125px; }
			.headerB_two .headerB2_three { width:135px; }
			.headerB_two .headerB2_four { width:125px; }
			.headerB_two .headerB2_five { width:100px; margin-right:0px; }
		.headerB_three { width:92px; height:58px; float:right; margin-top:25px; }
			.headerB3_one { width:92px; height:27px; margin:0 0 -1px 2px; }
			.headerB3_two { width:96px; height:31px; }
		.headerB_four { width:405px; height:25px; margin:0 auto; padding:91px 7px 0; background:url('../img/searchbg.png') no-repeat 0 82px; }
			#all_search { width:320px; height:20px; text-indent:1em; }
		.headerB_four a { width:81px; height:24px; float:right; }
		
	/****************************************************** Visual */
		.Vmainbg { width:100%; height:1360px; background:url('../img/wrapperbg.png'); }
		#visualImg { background:url('../img/visualbigbg.jpg') no-repeat; }
			.Vp { width:566px; height:342px; float:left; margin:5px 0 0 5px; }
			.Vdiv { width:200px; height:200px; position:absolute; top:92px; left:515px; }
				.Vdivtxt { width:188px; height:130px; margin-bottom:20px; }
				.Vdivbutton { width:190px; height:46px; }
			.Vul { width:170px; height:305px; float:right; padding:15px; }
				.Vli { margin-left:-12px; }

	/****************************************************** Main */
	/****************************************************** Main_left */
		#mL_one { background:url('../img/categories_bg.png') no-repeat; }
		.mL1_tilte { width:266px; height:41px; position:absolute; top:20px; left:-26px; }
		.mL1_Ul { width:242px; height:448px; padding:64px 0 0 80px; }
			.mL1_Ul li { margin-bottom:7px; }
			.mL1_Ul li a:link , .mL1_Ul li a:visited { font-size:12px; }
			.mL1_Ul li a:hover , .mL1_Ul li a:focus { color:#FF5C43; }

		.main_title { font-size:18px; padding-left:30px; margin-bottom:10px; background:url('../img/title_arrow.png') no-repeat; }
		.mL2_Ul { width:242px; height:70px; padding:10px 0; border-bottom:1px solid #BBC062; }
		.mL2_Ul.prolast { border-bottom:0 none; }
			.mL2_Li.proone { width:71px; height:71px; float:left; }
			.mL2_Li.protwo { width:161px; height:71px; float:left; padding:5px 0 0 10px; }
			.mL2_Ul a:link .mL2_Li.protwo , .mL2_Ul a:visited .mL2_Li.protwo { font-size:12px; }
			.mL2_Ul a:hover .mL2_Li.protwo , .mL2_Ul a:focus .mL2_Li.protwo { color:#FF5C43; }
			.mL2_Li.protwo span { width:171px; height:15px; display:block; font-size:12px; font-style:italic; color:#aaa; }
		
		.mL3_P { width:184px; height:56px; padding:10px 0; }
	
	/****************************************************** Main_right */
		.mR1_Div { width:724px; height:212px; padding:20px 0; background:url('../img/todaybg.png') no-repeat; }
		.mR1_Ul { width:200px; height:215px; float:left; padding:0 20px; border-right:1px solid #E9ECB7; }
			.mR1_lione { width:207px; height:102px; }
			.mR1_litwo { width:207px; height:30px; padding:15px 0; font-size:12px; }
			.mR1_lithree span { font-size:17px; }
			.mR1_lithree strong { font-size:17px; color:#5EA9AC; }
			.mR1_lifour { padding-top:7px; }
			.mR1_lifour a:link , .mR1_lifour a:visited { font-size:15px; color:#FF5C43; }
			.mR1_lifour a:hover , .mR1_lifour a:focus { text-decoration:underline; }
		
		.mR2_Divone { width:724px; height:515px; padding:10px 0 15px 0; border-bottom:1px solid #BBC062; }
		.mR2_DivUlone { width:724px; height:515px; }
		.mR2_DivUlone > li { width:156px; height:226px; padding:8px; margin:0 12px 15px 0; float:left; background:url('../img/popularbg.png') no-repeat; }
		.mR2_Lione.pop4 { margin:0 0 15px 0; }
		.mR2_Lione.pop8 { margin:0; }
			.poplitwo { width:140px; height:30px; padding:10px 5px; font-size:12px; }
			.poplithree { padding:0 5px; }
			.poplithree span { font-size:15px; }
			.poplithree strong { font-size:15px; color:#5EA9AC; }
			.poplifour { padding:15px 0 10px; }
				.popminilione { width:62px; height:22px; float:left; padding-left:5px; }
				.popminilitwo { width:62px; height:22px; float:right; }
				.popminilitwo span { margin-right:7px; }
		.mR2_Divtwo { width:200px; height:20px; margin:0 auto; padding:15px 0; }
			.mR2_DivUltwo { width:200px; height:20px; }
			.mR2_DivUltwo li { float:left; }
			.mR2_DivUltwo li a { color:#F3635B; }
			.mR2_DivLitwo { line-height:18px; text-align:center; }
			.mR2_DivLitwo { width:20px; height:20px; }
			.mR2_DivLinext { width:50px; height:20px; }
		
	/****************************************************** Footer */
	/****************************************************** Footer_one */
		.footerbg { width:100%; height:244px; position:relative; }
		#footer { position:absolute; top:-15px; left:0; background:url('../img/footerbg.png') no-repeat; }
		.footercenter { width:972px; height:229px; margin:0 auto; padding-top:30px; }
		.footer1_Div { width:140px; height:160px; float:left; }
		.footer1_Div.fmiddle { margin-right:28px; }
			.footer1_title { font-size:14px; color:#EFF8C3; }
			.footer1_title a { font-size:14px; color:#EFF8C3; }
			.footer1_Ul { width:140px; height:120px; padding:20px 0; }
			.footer1_Ul li { margin-bottom:4px; }
			.footer1_Ul li a:link , .footer1_Ul li a:visited { font-size:12px; color:#C2CFD7; }
			.footer1_Ul li a:hover , .footer1_Ul li a:focus { text-decoration:underline; }
		.footer1_copy { width:448px; height:20px; padding-top:180px; font-size:12px; color:#C2CFD7; }
		.footer1_copy span { text-decoration:underline; }
	/****************************************************** Footer_two */
		.footer2_Ul { width:170px; height:30px; padding:12px 0; }
			.footer2_Ul li { width:30px; height:30px; float:left; margin-right:10px; }
		.footer2_subs { font-size:12px; color:#C2CFD7; padding:10px 0; }
			.footer2_submit { width:242px; height:24px; }
			#submit { width:178px; height:20px; text-indent:1em; }
			.submit_button { width:58px; height:24px; margin:5px 0 0 -5px; }
			#submit , .submit_button { vertical-align:top; }

	/****************************************************** Footer_three */
		.footer3_Div { width:180px; height:217px; }
		.footer3_Ul { width:180px; height:55px; margin-bottom:15px; }
			.footer3_Img { width:56px; height:55px; float:left; margin-right:10px; }
			.footer3_Txt { width:110px; height:55px; float:left; padding-top:5px; font-size:12px; color:#C2CFD7; }
			.footer3_P { width:30px; height:55px; margin:0 auto; }
			.footer3_P strong { font-size:13px; color:#fff; }
